################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fabric.Metadata.FileService.Client/v15
/Fabric.Metadata.FileService.Client/.vs/Fabric.Metadata.FileService.Client
/Fabric.Metadata.FileService.Client/bin/Debug
/Fabric.Metadata.FileService.Client/obj
/.vs/Fabric.Metadata.FileService.Client/DesignTimeBuild
/fabric.metadata.fileserver.client.console/bin/Debug
/fabric.metadata.fileserver.client.console/obj/Debug
/Fabric.Metadata.FileService.Client.Tests/obj/Debug
/packages
/Fabric.Metadata.FileService.Client.Tests/bin/Debug
/Fabric.Metadata.FileService.Client.Tests/bin/Debug/
